body{
    
    background-image: -webkit-linear-gradient(70deg, #b3bdc5 50%, rgb(245, 245, 220) 70%);
    height: 100vh;
}
input[type=text] {
    border: 2px solid rgb(78, 107, 31);
    border-radius: 10px;
}
input[type=submit] {
    background-color: rgb(78, 107, 31);
    border-radius: 10px;
    cursor: pointer;
}
input[type=text]:focus{
    background-color: rgb(201, 214, 11);
}
input{
    margin: 5px;
}
label{
    width: 100px;
}
.gomb{
    text-align: center;
    grid-column: span 2;
}
form{
    width: 50%;
    margin: auto;
}
fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.jobb{
    text-align: right;
}
.bal{
    text-align: left;
}
h1{
    text-align: center;
}